<div class="bg-light">
    <nav class="navbar navbar-light sidebar">
        <ul class="navbar-nav">
            <li class="nav-item"><span class="material-icons">alarm</span>新着記事</li>
            <li class="nav-item"><span class="material-icons">mode_edit</span>記事の投稿</li>
            <li class="nav-item">
                <img src="/assets/images/beginner.pgn" class="banner">
                <p class="banner-text">
                    2021/09/01から開催中。<br/>
                    只今、オンライン受講受付中！
                </p>
                <div>
                    <img class="graph" src="/assets/images/morning.gif">
                    <img class="graph" src="/assets/images/afternoon.gif">
                    <img class="graph" src="/assets/images/afternoon2.gif">
                    <img class="graph" src="/assets/images/evening.gif">
                    
                </div>
            </li>
            <li class="nav-item">
                <img src="/assets/images/present.gif" class="banner">
                <p class="banner-text">毎週ポイントを追加するよー</p>
            </li>
            <li class="nav-item">
                <img src="/assets/images/mokumoku.jpg" class="banner">
            </li>
        </ul>
    </nav>
</div>